<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="text-center">商品一覧</h3>
  </div>
    <% @items.each do |item| %>
    <div class="col-sm-3 col-md-2">
     <div class="card" style="margin-top: 15px">
     <%= image_tag("sampleItemImage.jpg", :class => "card-img-top img-responsive")%>
      <div class="card-block">
        <h4 class="card-title"><%= item.name %></h4>
        <%= link_to "詳細ページヘ", {:controller => :items, :action => :index}, {:class => "btn btn-primary text-center"} %>
      </div>
      </div>
    </div>
    <% end %>
</div>